<div class = "header"> 
    <img (click) = "github()" class = "icon" src = "https://github.com/dariyaas/Web-Development/blob/main/%D0%A7%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D1%80%D0%B8%D1%8F-%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B0-%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%BE%D0%B5-%D1%84%D0%BE%D1%82%D0%BE.jpg">
    <div class = "header link">
        <li><a [routerLink]="['/first']"> First</a></li>
        <li><a [routerLink]="['/second']"> Second</a></li>
        <li><a [routerLink]="['/third']"> Third</a></li>
        <li><a [routerLink]="['/fourth']"> Fourth</a></li>
    </div>
</div>
<router-outlet></router-outlet>